/* acá estructuramos a grandes rasgos la página y nos llevamos de acá el footer y el header */
body {
  background-color: #f9df94;
  color: #54343f;
  font-family: Arial, Helvetica, sans-serif;

}

/* quitar efectos de los links */
a {
  text-decoration: none;
}

p {
  font-size: large;
}

#hamburguesa {
  width: 2em;
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 5px;
  visibility: hidden;
}

nav {
  padding: 5px;
  right: 0px;
  top: 0px;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  background: linear-gradient(to top, #e77a7788, #e77a7788);
  z-index: 100;
}

/* los link dentro de la barra de navegación */
nav a {
  background-color: #e77a77;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  color: #f9df94;
  font-weight: bold;
  font-size: 1em;
}

.navegador {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  background: none;
  width: 95%;
  height: 95%;
}

/* media query para cambiar la configuración del navegador para pantallas menores a 600px */
@media screen and (max-width:600px) {
  nav {
    width: auto;
    display: none;
  }

  .navegador {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    display: grid;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    background: none;
  }

  #hamburguesa {
    visibility: visible;
  }

  #hamburguesa:active+nav {
    display: block;
  }

  nav:hover {
    display: block;
  }
}

.masterhead {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

/* logo y nombre del proyecto */
#logotipo {
  width: 5em;
  height: 5em;
}

h1 {
  display: inline;
  font-size: 3em;
  font-family: 'Flavors', cursive;
  color: black;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro p {
  margin: 0% 6% 3%;
  padding: 2% 2%;
  border-top: 2px solid #54343f;
  border-bottom: 2px solid #54343f;
  text-align: justify;
}

.intro h2 {
  text-transform: uppercase;
}

/* flexbox para tarjetas*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: normal;
}

/* porque si son iguales los atributos están separados? */
.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items {
  margin: 1%;
  border-color: #e77a77;
  border-width: 5px;
  border-style: outset;
  padding: 1%;
  background-color: #e77a77;
  justify-items: center;
  width: 15em;
  height: 15em;
}

@media screen and (min-width:1800px) {
  .intro p {
    max-width: 1800px;
  }

  .flex-container {
    margin-left: 90px;
    justify-content: center;
  }
}

.imagen {
  display: grid;
  place-items: center;
  width: 95%;
  height: 95%;
}

.iconos {
  width: 5em;
  height: 5em;
}

.iconos:hover {
  transform: scale(1.5, 1.5);
}

a h3 {
  text-decoration: none;
  color: #54343f;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.fotos {
  width: 14em;
  height: 10em;
}

.beneficios-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  width: 98%;
}

.beneficios-flex p {
  width: 95%;
  max-width: 500px;
  padding: 2%;
  text-align: justify;
}

.beneficios h2 {
  width: 100%;
  margin: 2em;
  text-align: center;
}

.foo{
  background-color:  hsl(2, 70%, 69%);
  color:#54343f;
  padding: 5px;
  border-color: #54343f;
  border-radius: 5px;
}
/* Estilos del botón de whatsapp */
.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}

.btn-wsp:hover {
  background: white;
  color: #25d366;
}

@media only screen and (min-width:320px) and (max-width:768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}

/* Estilos para el footer */
footer {
  margin-top: 3em;
  padding: 1em;
  text-align: center;
  background: linear-gradient(to top, #e77a7788, #e77a7788);
  }

  #nosotros{
    margin: 1.5em;
  }

  /* Definición de estilos del formulario */
    /* Definición de la rejilla */
    form {
      margin-left: 2em;
    }
    fieldset{
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1rem;
      max-width: 800px;
    }
    textarea{
      width: 100%; 
      font-size: 1.5em;
    }
    /* estilo para selectores */
    .selectores {
      display: grid; 
      grid-template-columns: 2fr  2fr; 
      grid-gap: 1em
    }
  
    /* Estilos para las etiquetas */
    label {
      font-weight: bold;
    }
  
    /* Estilos para los campos de entrada */
    input, select {
      border: 1px solid gray;
      border-radius: 4px;
      padding: 0.5rem;
      font-size: 1rem;
      box-sizing: border-box;
      width: 100%;
    }
    #boton_reset{
      background-color: red; 
      text-emphasis-style ;
      color: white;
      width: 16em;
    }

    #boton_enviar{
      background-color: chartreuse;
      width: 16em;
    }