/* acá estructuramos a grandes rasgos la página y nos llevamos de acá el footer y el header */
body{
    background-color: #f9df94;
    color:#54343f;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ver cual poner */
    
}
/* nav{
  background-color: #f6a570;
  margin:0mm;
  padding:0px;
  left:0px;
  top:0px;
} */
/* flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: normal;
}
/* porque si son iguales los atributos están separados? */
.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.flex-items{
    width: 30%;
    margin: 1%;
    border-color: #54343f;
    border-width: 5px;
    border-style: solid;
    padding: 1%;
    background-color: #e77a77;
}
a:hover{
  background-color: red;
}
.imagen{
    width: 100%;
}
a h3{
   color:#54343f;
   margin-top: -5%;
}