/* ac치 estructuramos a grandes rasgos la p치gina y nos llevamos de ac치 el footer y el header */
body{
    background-color: #f9df94;
    color:#54343f;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ver cual poner */
    
}
nav{
  /* background-color: #f6a570; */
  padding: 5px;
  left:0px;
  top:0px;
  position: fixed;
  width: 100%;
  justify-content:space-around;
  background: linear-gradient(to top,#e77a7788,#e77a7788);
  z-index: 100;
}
.navegador {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: none;
  width: 95%;
  height: 95%;
  }
 .masterhead {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
#logotipo{
  width: 5em;
  height: 5em;
}
h1{
  display: inline;
  font-size: 3em;
  font-family: 'Flavors',cursive;
  color: black;
}
.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.intro p{
  margin: 0% 6% 3%;
  padding: 2% 2%;
  border-top: 2px solid #54343f;
  border-bottom: 2px solid #54343f;
  text-align: justify;
}
}
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9d78ce;
    height: 8rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100
} */
/* flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: normal;
}
/* porque si son iguales los atributos est치n separados? */
.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.flex-items{
    /* width: 30%; */
    margin: 1%;
    border-color: #e77a77;
    border-width: 5px;
    border-style: outset;
    padding: 1%;
    background-color: #e77a77;
    justify-items: center;
    width: 15em;
    height: 15em;
}
/* a:hover{
  background-color: aquamarine;
  transform: scale(1.5 1.5)  Important!;
} */
.imagen{
    display: grid;
    place-items: center;
    width: 95%;
    height: 95%;
}
.iconos{
  width: 5em;
  height: 5em;
}
.iconos:hover{
transform: scale(1.5 , 1.5);
}
a h3{
   color:#54343f;
   width: 100%;
   text-transform: uppercase;
   text-align: center;
   /* margin-top: -5%; */
}
